.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 100px;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .section {
    flex-direction: column;
  }
}